html{
    height: 100vh;
    width: 100%;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    
}
#imagem{
    border-radius: 50%;
    display: flex;
    align-self: center;
}
.corpo{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
 
}

body::before {
    content: ""; /* Necessário para o pseudo-elemento */
    position: absolute; /* Posiciona o pseudo-elemento */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/oficina_mecanica.svg'); /* Caminho para a imagem SVG */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center center; /* Centraliza a imagem */
    opacity: 0.1; /* Define a transparência da imagem */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo do body */
}
#titulo{
    text-align: center;
    font-size: xx-large;
    
}
#subtitulo{
    text-align: center;
}
#lista{
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
@media (max-width: 400px) {

    .cabecalho{
        
        flex-direction: column;
        
    } 
    
}
